communication/Dec25th.json
[{"id":"38fb38a6.409f28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d163ee3.247dd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e8da9fe9.5f4e4","type":"tab","label":"Reolink","disabled":true,"info":""},{"id":"e5c9a26b.5e2d3","type":"subflow","name":"Motor Controller","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","category":"","in":[{"x":25,"y":219,"wires":[{"id":"6d03a72c.cfb0e8"}]}],"out":[{"x":1050,"y":91,"wires":[{"id":"250382d3.1dc5be","port":0},{"id":"c49e592a.192908","port":0}]},{"x":1053,"y":164,"wires":[{"id":"250382d3.1dc5be","port":0},{"id":"db376243.1d842","port":0}]},{"x":289,"y":67,"wires":[{"id":"6d03a72c.cfb0e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"104c86b0.3b8c89","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"e4ac6074.fc1db","type":"arduino-board","z":"","device":"/dev/ttyUSB1"},{"id":"3474901d.c00cc","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7ec21936.613288","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"600c06f3.ddaf98","type":"ui_group","z":"","name":"navigation","tab":"f69370c1.e597a","order":1,"disp":true,"width":"5","collapse":true},{"id":"e4680f01.6991","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Disinfection robot dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f69370c1.e597a","type":"ui_tab","z":"","name":"machine","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"5b17d1b9.387a1","type":"ui_group","z":"","name":"disinfection","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"519e5fc0.ab1d4","type":"ui_tab","z":"","name":"testing","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfded961.233828","type":"ui_group","z":"","name":"machine_info","tab":"519e5fc0.ab1d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f19d9721.1bda28","type":"ui_group","z":"","name":"Power","tab":"519e5fc0.ab1d4","order":2,"disp":true,"width":"6","collapse":false},{"id":"76799c96.596304","type":"ui_group","z":"","name":"disinfection","tab":"f69370c1.e597a","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d041771.c48108","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6830838.e257f8","type":"ui_group","z":"","name":"RCL-522","tab":"250ba38d.987f2c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5af25409.fce75c","type":"ui_group","z":"","name":"Video capture","tab":"250ba38d.987f2c","order":3,"disp":true,"width":"6","collapse":false},{"id":"f178263a.20a018","type":"ui_group","z":"","name":"E1 Zoom PTZ control","tab":"250ba38d.987f2c","order":4,"disp":true,"width":"6","collapse":false},{"id":"122d3174.3c003f","type":"ui_group","z":"","name":"RCL-522 Z control","tab":"250ba38d.987f2c","order":5,"disp":true,"width":"6","collapse":false},{"id":"250ba38d.987f2c","type":"ui_tab","z":"","name":"Reolink","icon":"dashboard","disabled":false,"hidden":false},{"id":"6d03a72c.cfb0e8","type":"switch","z":"e5c9a26b.5e2d3","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","outputs":3,"x":165,"y":228,"wires":[["a9262833.0a8748"],["250382d3.1dc5be","8dedb7d8.5ba3d8"],["6b48c4ea.5897fc"]]},{"id":"250382d3.1dc5be","type":"switch","z":"e5c9a26b.5e2d3","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":494,"y":199,"wires":[["fae7290.4d387d8","69b73e86.cbffd"]]},{"id":"fae7290.4d387d8","type":"debug","z":"e5c9a26b.5e2d3","name":"Motor 1","active":true,"console":"false","complete":"payload","x":1099,"y":31.5,"wires":[]},{"id":"69b73e86.cbffd","type":"debug","z":"e5c9a26b.5e2d3","name":"Motor 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1095,"y":226.5,"wires":[]},{"id":"8dedb7d8.5ba3d8","type":"switch","z":"e5c9a26b.5e2d3","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":493,"y":263,"wires":[["c49e592a.192908"]]},{"id":"6ea58916.903f08","type":"change","z":"e5c9a26b.5e2d3","name":"Set Direction Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":358,"wires":[["c49e592a.192908"]]},{"id":"3ed51bbb.fbd464","type":"change","z":"e5c9a26b.5e2d3","name":"Set Direction Counter Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":417,"wires":[["c49e592a.192908"]]},{"id":"c49e592a.192908","type":"function","z":"e5c9a26b.5e2d3","name":"Get Direction","func":"var direction = flow.get('direction')||0;\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":300,"wires":[["fae7290.4d387d8","db376243.1d842"]]},{"id":"db376243.1d842","type":"function","z":"e5c9a26b.5e2d3","name":"Invert","func":"if (msg.payload == 1) {\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":901,"y":303,"wires":[["69b73e86.cbffd"]]},{"id":"6b48c4ea.5897fc","type":"switch","z":"e5c9a26b.5e2d3","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":253,"y":398,"wires":[["6ea58916.903f08"],["3ed51bbb.fbd464"]]},{"id":"a9262833.0a8748","type":"debug","z":"e5c9a26b.5e2d3","name":"Motor Speed","active":true,"console":"false","complete":"payload","x":353,"y":127.5,"wires":[]},{"id":"6db0b74.0014648","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN4-reverse-motorA","pin":"35","set":"","level":"0","freq":"0","out":"pwm","x":390,"y":200,"wires":[]},{"id":"811a0c52.2ad23","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN3-forward-motorB","pin":"33","set":"","level":"0","freq":"50","out":"pwm","x":390,"y":160,"wires":[]},{"id":"b5697c65.9b078","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN2-reverse-motorA","pin":"31","set":"","level":"0","freq":"0","out":"pwm","x":380,"y":100,"wires":[]},{"id":"b2f2030d.4fe05","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN1-forward-motorA","pin":"29","set":"","level":"0","freq":"50","out":"pwm","x":380,"y":60,"wires":[]},{"id":"8ce84f17.597ee","type":"ui_button","z":"104c86b0.3b8c89","name":"","group":"600c06f3.ddaf98","order":1,"width":0,"height":0,"passthru":false,"label":"forward_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":200,"wires":[["6db0b74.0014648","811a0c52.2ad23","b5697c65.9b078","b2f2030d.4fe05"]]},{"id":"b2380d18.92844","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN4-reverse-motorA","pin":"35","set":"","level":"0","freq":"0","out":"pwm","x":380,"y":400,"wires":[]},{"id":"d31863db.bd64c","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN3-forward-motorB","pin":"33","set":"","level":"0","freq":"0","out":"pwm","x":380,"y":360,"wires":[]},{"id":"d6aa2b6f.3e3fe8","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN2-reverse-motorA","pin":"31","set":"","level":"0","freq":"0","out":"pwm","x":370,"y":300,"wires":[]},{"id":"52fd12af.4bb4cc","type":"rpi-gpio out","z":"104c86b0.3b8c89","name":"IN1-forward-motorA","pin":"29","set":"","level":"0","freq":"0","out":"pwm","x":370,"y":260,"wires":[]},{"id":"7fb88bf8.602784","type":"ui_button","z":"104c86b0.3b8c89","name":"","group":"600c06f3.ddaf98","order":2,"width":0,"height":0,"passthru":false,"label":"stop_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":400,"wires":[["b2380d18.92844","d31863db.bd64c","d6aa2b6f.3e3fe8","52fd12af.4bb4cc"]]},{"id":"1afdf547.5a905b","type":"ui_button","z":"38fb38a6.409f28","d":true,"name":"","group":"600c06f3.ddaf98","order":9,"width":0,"height":0,"passthru":false,"label":"forward_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":900,"wires":[["e8ca8c67.01948","a8094910.e45158","916c41a3.cddcf","760e5c9f.608314","533fed69.67c804","c885f83a.4b8018"]]},{"id":"c885f83a.4b8018","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN1-forward-motorA","pin":"29","set":true,"level":"1","freq":"50","out":"out","x":490,"y":840,"wires":[]},{"id":"e8ca8c67.01948","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN2-reverse-motorA","pin":"31","set":true,"level":"0","freq":"0","out":"out","x":490,"y":880,"wires":[]},{"id":"a8094910.e45158","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN3-forward-motorB","pin":"33","set":true,"level":"1","freq":"50","out":"out","x":500,"y":940,"wires":[]},{"id":"916c41a3.cddcf","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN4-reverse-motorB","pin":"35","set":true,"level":"0","freq":"0","out":"out","x":500,"y":980,"wires":[]},{"id":"760e5c9f.608314","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN1-forward-motorA","pin":"38","set":true,"level":"1","freq":"50","out":"out","x":480,"y":1020,"wires":[]},{"id":"533fed69.67c804","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN2-forward-motorB","pin":"40","set":true,"level":"1","freq":"50","out":"out","x":500,"y":1060,"wires":[]},{"id":"c3515311.ffd08","type":"ui_button","z":"38fb38a6.409f28","d":true,"name":"","group":"600c06f3.ddaf98","order":11,"width":0,"height":0,"passthru":false,"label":"stop_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":1160,"wires":[["c746cc36.40487","6e8673d5.e0856c"]]},{"id":"6e8673d5.e0856c","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN2-forward-motorB","pin":"40","set":true,"level":"0","freq":"50","out":"out","x":500,"y":1180,"wires":[]},{"id":"c746cc36.40487","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN1-forward-motorA","pin":"38","set":true,"level":"0","freq":"50","out":"out","x":480,"y":1140,"wires":[]},{"id":"4aed9f8e.d4949","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"humidifier_switch","tooltip":"","group":"76799c96.596304","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":1400,"wires":[["9a501b2d.7ffe98"]]},{"id":"9a501b2d.7ffe98","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":520,"y":1400,"wires":[]},{"id":"d5e58b23.36e798","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"","pin":"12","set":"","level":"0","freq":"70","out":"pwm","x":520,"y":1540,"wires":[]},{"id":"9b7de311.42948","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1540,"wires":[["d5e58b23.36e798"]]},{"id":"276ccad4.c19e46","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1580,"wires":[["d5e58b23.36e798"]]},{"id":"e70512b6.41c5d","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1620,"wires":[["d5e58b23.36e798"]]},{"id":"bbad60f7.ce03d","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1660,"wires":[["d5e58b23.36e798"]]},{"id":"94905e98.211fb","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1700,"wires":[["d5e58b23.36e798"]]},{"id":"c7ed7abc.4e1a28","type":"ui_slider","z":"38fb38a6.409f28","name":"","label":"slider","tooltip":"","group":"76799c96.596304","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":260,"y":1800,"wires":[["d5e58b23.36e798"]]},{"id":"f079c2f.9fa354","type":"inject","z":"38fb38a6.409f28","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["e2021e54.7c5db"]]},{"id":"e2021e54.7c5db","type":"exec","z":"38fb38a6.409f28","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"temp_command","x":380,"y":160,"wires":[["85668d3e.ee0a3"],[],[]]},{"id":"85668d3e.ee0a3","type":"function","z":"38fb38a6.409f28","name":"CPU_temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["4f61d515.418e6c","4fe7a5b6.58a1dc"]]},{"id":"4f61d515.418e6c","type":"ui_gauge","z":"38fb38a6.409f28","name":"CPU temperature","group":"cfded961.233828","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU temperature","label":"celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":880,"y":120,"wires":[]},{"id":"4fe7a5b6.58a1dc","type":"ui_chart","z":"38fb38a6.409f28","name":"","group":"cfded961.233828","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":180,"wires":[[]]},{"id":"360fa852.38c0d8","type":"ui_button","z":"38fb38a6.409f28","name":"","group":"f19d9721.1bda28","order":1,"width":0,"height":0,"passthru":false,"label":"shutdown_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":340,"wires":[["67957e59.a1b"]]},{"id":"67957e59.a1b","type":"exec","z":"38fb38a6.409f28","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":360,"wires":[[],[],[]]},{"id":"5f57cbd4.30f954","type":"ui_button","z":"38fb38a6.409f28","name":"","group":"f19d9721.1bda28","order":2,"width":0,"height":0,"passthru":false,"label":"run py program","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":420,"wires":[["aa83fe20.97b7e"]]},{"id":"aa83fe20.97b7e","type":"exec","z":"38fb38a6.409f28","command":"python line_follow.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":440,"wires":[["23ffd214.6aec5e"],[],[]]},{"id":"23ffd214.6aec5e","type":"ui_text","z":"38fb38a6.409f28","group":"f19d9721.1bda28","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":440,"wires":[]},{"id":"c8ae8c0c.2b115","type":"inject","z":"8d163ee3.247dd","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":300,"wires":[["54c18079.2372e"]]},{"id":"54c18079.2372e","type":"exec","z":"8d163ee3.247dd","command":"raspistill","addpay":false,"append":"-w 320 -h 240 -o -","useSpawn":"false","timer":"60","oldrc":false,"name":"","x":200,"y":300,"wires":[["7334e3df.440e2c"],[],[]]},{"id":"f338c7a9.a83708","type":"template","z":"8d163ee3.247dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":490,"y":300,"wires":[["553cf9ab.0bfec8"]]},{"id":"553cf9ab.0bfec8","type":"ui_template","z":"8d163ee3.247dd","group":"76799c96.596304","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":620,"y":300,"wires":[[]]},{"id":"7334e3df.440e2c","type":"base64","z":"8d163ee3.247dd","name":"","action":"str","property":"payload","x":360,"y":300,"wires":[["f338c7a9.a83708"]]},{"id":"2260960c.aa53ea","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN1-forward-motorA","pin":"29","set":true,"level":"1","freq":"50","out":"out","x":990,"y":860,"wires":[]},{"id":"992bf903.396498","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN2-reverse-motorA","pin":"31","set":true,"level":"0","freq":"0","out":"out","x":990,"y":900,"wires":[]},{"id":"31977d16.8707b2","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN3-forward-motorB","pin":"33","set":true,"level":"0","freq":"50","out":"out","x":1000,"y":960,"wires":[]},{"id":"1d2fe96c.094267","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN4-reverse-motorB","pin":"35","set":true,"level":"1","freq":"0","out":"out","x":1000,"y":1000,"wires":[]},{"id":"42da00dd.822bf","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN1-forward-motorA","pin":"38","set":true,"level":"1","freq":"50","out":"out","x":980,"y":1040,"wires":[]},{"id":"21b1aafd.672796","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN2-forward-motorB","pin":"40","set":true,"level":"1","freq":"50","out":"out","x":1000,"y":1080,"wires":[]},{"id":"af6952ec.74b22","type":"ui_button","z":"38fb38a6.409f28","d":true,"name":"","group":"600c06f3.ddaf98","order":9,"width":0,"height":0,"passthru":false,"label":"right_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":1220,"wires":[["27373a72.3e8e96","a8f48a41.ac5968","a3579c59.857fa","b698157a.bf7518","d159632.a7161a","f34f5c91.91b4d"]]},{"id":"27373a72.3e8e96","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN1-forward-motorA","pin":"29","set":true,"level":"0","freq":"50","out":"out","x":990,"y":1160,"wires":[]},{"id":"a8f48a41.ac5968","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN2-reverse-motorA","pin":"31","set":true,"level":"1","freq":"0","out":"out","x":990,"y":1200,"wires":[]},{"id":"a3579c59.857fa","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN3-forward-motorB","pin":"33","set":true,"level":"1","freq":"50","out":"out","x":1000,"y":1260,"wires":[]},{"id":"b698157a.bf7518","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN4-reverse-motorB","pin":"35","set":true,"level":"0","freq":"0","out":"out","x":1000,"y":1300,"wires":[]},{"id":"d159632.a7161a","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN1-forward-motorA","pin":"38","set":true,"level":"1","freq":"50","out":"out","x":980,"y":1340,"wires":[]},{"id":"f34f5c91.91b4d","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN2-forward-motorB","pin":"40","set":true,"level":"1","freq":"50","out":"out","x":1000,"y":1380,"wires":[]},{"id":"3cb0484f.89fa28","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"switch1","tooltip":"","group":"600c06f3.ddaf98","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":560,"wires":[["e623f3d9.f3d44"]]},{"id":"367f42e4.74e1fe","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"switch2","tooltip":"","group":"600c06f3.ddaf98","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":600,"wires":[["94ee2089.d1052"]]},{"id":"e623f3d9.f3d44","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN1-forward-motorA","pin":"29","set":true,"level":"0","freq":"50","out":"out","x":500,"y":560,"wires":[]},{"id":"94ee2089.d1052","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN2-reverse-motorA","pin":"31","set":true,"level":"0","freq":"0","out":"out","x":500,"y":600,"wires":[]},{"id":"c09c2f64.e2eeb","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN3-forward-motorB","pin":"33","set":true,"level":"0","freq":"50","out":"out","x":510,"y":660,"wires":[]},{"id":"a7a0e5e7.fddf18","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"IN4-reverse-motorB","pin":"35","set":true,"level":"0","freq":"0","out":"out","x":510,"y":700,"wires":[]},{"id":"8b196dd8.c0106","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"switch4","tooltip":"","group":"600c06f3.ddaf98","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":700,"wires":[["a7a0e5e7.fddf18"]]},{"id":"9af3776c.faded8","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"switch3","tooltip":"","group":"600c06f3.ddaf98","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":660,"wires":[["c09c2f64.e2eeb"]]},{"id":"59219892.3df448","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN2-forward-motorB","pin":"40","set":true,"level":"0","freq":"50","out":"out","x":470,"y":780,"wires":[]},{"id":"e7be1e48.f1627","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"ENBswitch","tooltip":"","group":"600c06f3.ddaf98","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":780,"wires":[["59219892.3df448"]]},{"id":"3a0c2b09.edd914","type":"ui_switch","z":"38fb38a6.409f28","name":"","label":"ENAswitch","tooltip":"","group":"600c06f3.ddaf98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":740,"wires":[["1a579990.b12c96"]]},{"id":"1a579990.b12c96","type":"rpi-gpio out","z":"38fb38a6.409f28","name":"EN1-forward-motorA","pin":"38","set":true,"level":"0","freq":"50","out":"out","x":450,"y":740,"wires":[]},{"id":"3a222b6b.678394","type":"ui_button","z":"38fb38a6.409f28","d":true,"name":"","group":"600c06f3.ddaf98","order":9,"width":0,"height":0,"passthru":false,"label":"Left_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":920,"wires":[[]]},{"id":"6ef082f1.4121cc","type":"switch","z":"38fb38a6.409f28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":720,"wires":[[]]},{"id":"564bedfd.e39ec4","type":"ui_button","z":"8d163ee3.247dd","name":"","group":"76799c96.596304","order":3,"width":0,"height":0,"passthru":false,"label":"camera_button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":380,"wires":[["54c18079.2372e"]]},{"id":"e0a2085e.bbd538","type":"http request","z":"e8da9fe9.5f4e4","name":"Reolink image","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.57/cgi-bin/api.cgi?cmd=Snap&channel=0&rs=&user=admin&password=mokus4","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":200,"wires":[["5d55f446.c74d4c"]]},{"id":"effe0f77.92dab","type":"comment","z":"e8da9fe9.5f4e4","name":"Capture the image from IP camera","info":"For Reolink cameras (excluding battery operated cameras) the URL is described here:\nhttps://support.reolink.com/hc/en-us/articles/360007011233-How-to-Capture-Live-JPEG-Image-of-Reolink-Cameras-via-Web-Browsers\n\nSame concept will work with any other IP cameras that return a jpg image.\n\nThe file-out node saves the image to a fixed file name. node-red-static folder is set in my\nsettings.js, \nthis is the line in my settings.js:\nhttpStatic: '/home/pi/node-red-static/',\n\nso any file in that folder can be accessed as:\nhttp(s)://192.168.1.x:1880/gate.jpg","x":180,"y":40,"wires":[]},{"id":"5d55f446.c74d4c","type":"base64","z":"e8da9fe9.5f4e4","name":"","action":"str","property":"payload","x":560,"y":180,"wires":[["d223723d.ccc7a"]]},{"id":"d223723d.ccc7a","type":"template","z":"e8da9fe9.5f4e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":720,"y":180,"wires":[["cab0f68b.c1bdf8"]]},{"id":"cab0f68b.c1bdf8","type":"ui_template","z":"e8da9fe9.5f4e4","group":"b6830838.e257f8","name":"","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":880,"y":180,"wires":[[]]},{"id":"9a4ea442.89ce38","type":"inject","z":"e8da9fe9.5f4e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["e0a2085e.bbd538"]]},{"id":"8556ab62.b8bc78","type":"comment","z":"e8da9fe9.5f4e4","name":"Getting and image and displaying directly in Dashboard","info":"Image preview node:\nnode-red-contrib-image-output\n\nBase 64 converter:\nnode-red-node-base64","x":260,"y":120,"wires":[]},{"id":"9cb10986.e99968","type":"ui_button","z":"8d163ee3.247dd","name":"","group":"76799c96.596304","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":480,"wires":[["44d3fe2b.b81e7"]]},{"id":"44d3fe2b.b81e7","type":"camerapi-takephoto","z":"8d163ee3.247dd","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"9","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":430,"y":480,"wires":[[]]},{"id":"15137601.786aca","type":"ui_media","z":"8d163ee3.247dd","group":"cfded961.233828","name":"","width":0,"height":0,"order":3,"category":"photo","file":"OIP.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":250,"y":220,"wires":[[]]},{"id":"fb7e3b6b.cdc5b8","type":"ui_media","z":"8d163ee3.247dd","group":"cfded961.233828","name":"","width":0,"height":0,"order":3,"category":"photo","file":"beaver.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":230,"y":160,"wires":[[]]}]